@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply bg-gray-50 border border-gray-500 rounded-3xl p-8 dark:bg-gray-700 dark:border-gray-300 dark:text-gray-100;
  }
}

main {
  width: 95%;
  max-width: 400px;
}

@media (min-width: 640px) {
  main {
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  main {
    max-width: 700px;
  }
}
